<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->


<div [ngStyle]="{
       'background':config.fondo,
       'padding': '20px',
       'border': '5px solid black',
       'border-color': config.color
} " >
  <h1>
    Bienvenido a {{title}}!
  </h1>
  <p>
    {{descripcion}}
  </p>

<nav>

  <a [routerLink]= "['/home']" [routerLinkActive]="['active']" > Home </a>
  &nbsp;

  <a [routerLink]="['/zapatillas']" [routerLinkActive]="['active']"  > Zapatillas </a>
  &nbsp;
  <a [routerLink]= "['/videojuego']" [routerLinkActive]="['active']" > Videojuegos </a>
  &nbsp;
  <a [routerLink]= "['/curso']" [routerLinkActive]="['active']" > Cursos </a>
  &nbsp;
  <a [routerLink]= "['/externo']" [routerLinkActive]="['active']" > Externo </a>
  &nbsp;
  <a [routerLink]= "['/contacto']" [routerLinkActive]="['active']" > Contacto </a>







</nav>

<hr>
<curso></curso>

<!--
  <button (click)='ocultarVideojuegos(false)' *ngIf='mostrar_videojuegos'>Ocultar</button>
<button (click)='ocultarVideojuegos(true)' *ngIf='!mostrar_videojuegos'>Mostrar</button>


  <videojuego *ngIf='mostrar_videojuegos'></videojuego>
  <zapatillas></zapatillas>
  <curso></curso>
-->

<!-- <zapatillas></zapatillas>-->

<router-outlet></router-outlet>



</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



